html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #1b1b1b;
}

.header {
  margin-top: 30px;
  margin-bottom: 90px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: auto;
}

.menu {
  margin-left: 130px;
  margin-right: 185px;
}

.menu__item {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.user-nav {
  display: flex;
  gap: 0 20px;
}

.top {
  margin-bottom: 100px;
}

.top-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.top-slide__inner {
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.top-slide__content {
  flex-basis: 183px;
  margin-top: -88px;
}

.top-slide__title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3;
}

.top-slide__subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.top-slide__text {
  margin-bottom: 20px;
}

.top-slide__btn {
  margin-left: auto;
}

.button {
  color: #7449bb;
  text-transform: uppercase;
  font-weight: 700;
  padding: 21px 55px;
  border: 1px solid #7449bb;
  display: inline-block;
  transition: all 0.3s ease;
}

.button:hover {
  color: white;
  background-color: #7449bb;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.container-arrow {
  position: relative;
  padding: 0;
  max-width: 1200px;
}

.top .swiper {
  padding-bottom: 50px;
}

.swiper-button-next {
  left: 75px;
  right: auto;
}

.about {
  margin-bottom: 100px;
  overflow: hidden;
}

.about__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3;
  width: 184px;
  margin-bottom: 20px;
}

.about__inner {
  padding-left: 200px;
}

.about__textbox {
  margin-bottom: 150px;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.about__text {
  flex-basis: 387px;
  line-height: 1.2;
}

.about__text p {
  margin-bottom: 15px;
}

.about__text--bold {
  font-weight: bold;
}

.about__item-title {
  margin-bottom: 20px;
}

.about__slider {
  width: 1800px;
  padding-left: 200px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__arrow {
  margin-left: -198px;
  margin-top: -6px;
}

.container-arrow .swiper-button-disabled {
  opacity: 1;
}

.accordeon {
  margin-bottom: 223px;
}

.accordeon__inner {
  padding-left: 200px;
}

.accordeon__item {
  border-bottom: 1px solid black;
  padding: 0 101px 0 0;
  position: relative;
}

.accordeon__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 51px;
  background-image: url("../images/Arrow-down.svg");
  right: 85px;
  top: 50px;
}

.accordeon__item:last-child::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 120px;
  background-image: url("../images/accordeon-img.jpg");
  left: 268px;
  bottom: -105px;
}

.accordeon__trigger {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 50px;
}

.accordeon__trigger-title {
  text-transform: uppercase;
  font-size: 24px;
  flex-basis: 300px;
  padding-bottom: 42px;
}

.accordeon__trigger-text {
  flex-basis: 387px;
  margin-right: 104px;
  padding-bottom: 20px;
}

.accordeon__content {
  padding-top: 20px;
  display: none;
  padding-bottom: 30px;
}

.accordeon__item-active .accordeon__content {
  display: block;
}

.accordeon__content p {
  margin-bottom: 10px;
}

.products {
  margin-bottom: 150px;
}

.products__inner {
  position: relative;
  min-height: 647px;
}
.products__title {
  font-family: "Playfair Display", serif;
  line-height: 1.34;
  font-size: 32px;
  width: 100px;
}
.products__items {
  display: flex;
  gap: 0 20px;
  position: absolute;
  top: 0;
  left: 200px;
}
.products__item {
  text-align: center;
}
.products__item-step {
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 20px;
}
.products__item-img {
  margin-bottom: 20px;
}
.products__item-name {
  margin-bottom: 10px;
}
.products__item-name span {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}
.products__item-price {
  font-family: "Playfair Display", serif;
  line-height: 1.34;
  font-size: 32px;
  font-style: italic;
  position: relative;
}

.seven {
  margin-top: 8px;
  position: absolute;
}

.dollar {
  margin-left: 19px;
}

.six {
  font-size: 40px;
}

.five {
  margin-top: 8px;
  font-size: 36px;
  position: absolute;
}

.video {
  margin-bottom: 150px;
}

.video__box {
  margin-left: auto;
  max-width: 997px;
  min-height: 600px;
  background-image: url("/images/video.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #c4a9cd;
  padding: 66px 0 100px;
}

.footer__top {
  display: flex;
  gap: 70px;
  margin-bottom: 70px;
  justify-content: space-between;
}

.footer__items {
  flex-basis: 387px;
  margin-top: -5px;
}

.footer__item + .footer__item {
  margin-top: 70px;
}

.footer__item-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__item-form {
  display: flex;
  position: relative;
}

.footer__item-input {
  background: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-right: 60px;
  display: block;
  outline: none;
}

.footer__item-input::placeholder {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000;
  opacity: 0.4;
}

.footer__item-btn {
  position: absolute;
  right: 0px;
}

.footer__item-list li {
  padding-top: 10px;
}

.footer__social-list {
  margin-left: 10px;
  margin-right: 105px;
  align-self: flex-end;
}

.footer__social-item + .footer__social-item {
  margin-top: 20px;
}

.footer__social-item svg:hover path {
  fill: #7449bb;
}
.footer__social-item svg path {
  transition: all 0.3s;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 105px;
}

.footer__img {
  height: 390px;
  width: 337px;
}

@media (max-width: 1640px) {
  .products__items {
    position: static;
  }
  .products__title {
    margin-bottom: 50px;
    width: 100%;
  }
}

@media (max-width: 1240px) {
  .products__item-img {
    width: 100%;
  }
}

@media (max-width: 1040px) {
  .about__textbox {
    margin-bottom: 50px;
  }
  .accordeon__inner {
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  .header__title {
    display: none;
  }

  .menu {
    margin-left: 0;
    margin-right: 0;
  }

  .about__textbox {
    display: block;
    margin-bottom: 50px;
  }
  .top {
    margin-bottom: 50px;
  }
}

@media (max-width: 850px) {
  .top-slide__inner {
    flex-wrap: wrap;
  }

  .top-slide__inner img:last-child {
    width: 100%;
    height: 200px;
    padding-top: 30px;
    object-fit: cover;
  }

  .top-slide__btn {
    margin: 50px auto 0;
  }

  .top-slide__inner img:first-child {
    display: none;
  }

  .top-slide__content {
    width: 100%;
    margin: auto;
  }

  .products__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .products__item {
    margin-bottom: 20px;
    width: 45%;
  }
}

@media (max-width: 768px) {
  .accordeon__trigger {
    display: block;
    padding-top: 20px;
  }
  .accordeon__trigger-title {
    padding-bottom: 10px;
  }
  .accordeon__item::before {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 25px;
  }
  .video__box {
    min-height: 435px;
  }
}

@media (max-width: 630px) {
  .about__slider {
    padding-left: 0;
    margin-left: 0;
  }
  .about__inner {
    padding-left: 0;
  }
  .about__arrow {
    display: none;
  }
  .products__item {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .header__inner {
    flex-wrap: wrap;
    align-items: center;
  }
  .menu {
    width: 100%;
  }
  .logo,
  .user-nav {
    order: -1;
  }
  .menu {
    padding-top: 30px;
    text-align: right;
    width: 100%;
  }
  .about__item img {
    width: 365px;
  }
  .about__slider {
    width: 1500px;
  }
  .accordeon__item {
    padding: 0 50px 0 0;
  }
  .accordeon__trigger-text {
    margin-right: 0;
  }
  .accordeon__item:last-child::after {
    left: 210px;
  }
  .video__box {
    min-height: 225px;
  }
  .top,
  .products,
  .video {
    margin-bottom: 50px;
  }
  .accordeon {
    margin-bottom: 140px;
  }
}

@media (max-width: 375px) {
  .about__item img {
    width: 280px;
  }
}
