html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #1b1b1b;
}

.header {
  margin-top: 30px;
  margin-bottom: 90px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: auto;
}

.menu {
  margin-left: 130px;
  margin-right: 185px;
}

.menu__item {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.user-nav {
  display: flex;
  gap: 0 20px;
}

.top {
  margin-bottom: 100px;
}

.top-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.top-slide__inner {
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.top-slide__content {
  flex-basis: 183px;
  margin-top: -88px;
}

.top-slide__title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3;
}

.top-slide__subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.top-slide__text {
  margin-bottom: 20px;
}

.top-slide__btn {
  margin-left: auto;
}

.button {
  color: #7449bb;
  text-transform: uppercase;
  font-weight: 700;
  padding: 21px 55px;
  border: 1px solid #7449bb;
  display: inline-block;
  transition: all 0.3s ease;
}

.button:hover {
  color: white;
  background-color: #7449bb;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.container-arrow {
  position: relative;
  padding: 0;
  max-width: 1200px;
}

.top .swiper {
  padding-bottom: 50px;
}

.swiper-button-next {
  left: 75px;
  right: auto;
}

.about {
  margin-bottom: 100px;
  overflow: hidden;
}

.about__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3;
  width: 184px;
  margin-bottom: 20px;
}

.about__inner {
  padding-left: 200px;
}

.about__textbox {
  margin-bottom: 150px;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.about__text {
  flex-basis: 387px;
  line-height: 1.2;
}

.about__text p {
  margin-bottom: 15px;
}

.about__text--bold {
  font-weight: bold;
}

.about__item-title {
  margin-bottom: 20px;
}

.about__slider {
  width: 1800px;
  padding-left: 200px;
  margin-left: -200px;
  padding-bottom: 20px;
}

.about__arrow {
  margin-left: -198px;
  margin-top: -6px;
}

.container-arrow .swiper-button-disabled {
  opacity: 1;
}

.accordeon {
  margin-bottom: 223px;
}

.accordeon__inner {
  padding-left: 200px;
}

.accordeon__item {
  border-bottom: 1px solid black;
  padding: 50px 101px 0 0;
  position: relative;
}

.accordeon__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 51px;
  background-image: url("../images/Arrow-down.svg");
  right: 85px;
  top: 50px;
}

.accordeon__item:last-child::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 120px;
  background-image: url("../images/accordeon-img.jpg");
  left: 268px;
  bottom: -73px;
}

.accordeon__trigger {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordeon__trigger-title {
  text-transform: uppercase;
  font-size: 24px;
  flex-basis: 300px;
  padding-bottom: 42px;
}

.accordeon__trigger-text {
  flex-basis: 387px;
  margin-right: 104px;
  padding-bottom: 20px;
}

.accordeon__content {
  padding-top: 20px;
  display: none;
  padding-bottom: 30px;
}

.accordeon__item-active .accordeon__content {
  display: block;
}

.accordeon__content p {
  margin-bottom: 10px;
}
